<component name="ArtifactManager">
  <artifact type="war" name="springelasticsearch:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-elasticsearch.war">
      <element id="artifact" artifact-name="springelasticsearch:war exploded" />
    </root>
  </artifact>
</component>